body{
    background-color: whitesmoke;
}
.container{
    width: auto;
    height: auto;
}
nav{
    display: flex;
    background-color: wheat;
    color: blue;
    justify-content: space-between;
    position: sticky;
    top: 0;
    
}
.navitems{
    margin-right: 5%;
}
header{
    margin-left: 10%;
    display: flex;
    align-items: center;
}
.navitems ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
li{
    padding-left: 5%;
}
.section1{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.section1a{
    width: 50%;
    margin-left: 10%;
    color: black;
}
.btn1{
    padding: 3%;
    border: none;
    color: blue;
}
 :hover button{
    transform: scale(1.1);
    transition-duration: 1s;
}
.section2{
    width: 100vw;
    height: auto;
    margin-bottom: 5%;
}
.card{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.cards{
    align-items: center;
    padding: 3%;
    border: 1px solid blue;
    height: 20%;
    width: 17%;
    border-radius: 2%;
}
.cards img{
    height: 27vh;
    width: 27vh;
    
}
.cards h3, .cards p{
    margin-left: 30%;
}

.section2 h2{
    padding-left: 10%;
}
.section3{
    width: auto;
    height: auto;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.footer ul{
    list-style-type: none;
    text-align: start;
}
.footer h3{
    margin-left: 25%;
    border-bottom: 1px solid white;
}

